CC=i686-elf-gcc
AS=nasm

KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_ASFLAGS=-felf32
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
KERNEL_ARCH_INCLUDE=-I$(ARCHDIR)/include

KERNEL_ARCH_OBJS=$(ARCHDIR)/mem/paging.o $(ARCHDIR)/boot/boot.o $(ARCHDIR)/cpuid.o $(ARCHDIR)/tty/tty.o $(ARCHDIR)/boot/kinit.o